DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
USE_SQLITE=False
CORS_ALLOW_ALL=True
CORS_ALLOWED_ORIGINS=http://localhost:3000
POSTGRES_DB=cancha_db
POSTGRES_USER=cancha_user
POSTGRES_PASSWORD=cancha_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
TIME_ZONE=America/Bogota
FRONTEND_URL=http://localhost:3000
DEFAULT_FROM_EMAIL=no-reply@cancha.local
